
.btn-lg:hover {
    background-color: #4e4e4e;
    border: none;
}

.form-group input {
    margin: 0;
    font-size: 13px;
    height: 20%;
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif; font-weight: 600;
}
.form-group label{
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif; font-weight: 600;
    color: #343434;
}

.form-group select {
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif; font-weight: 600;
    color: #343434;
    font-size: 13px;
}

.form-group option {
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif; font-weight: 600;
    color: #c3c3c3
}

/* mobile first */
/* breackpoint */
/* tablet ou celular landscape */
@media (min-width: 576px) {
    .for {
        width: 100%;
    }
}

/* desktop */
@media (min-width: 768px) {
    .for {
        width: 50%;
        float: left;
    }

    .imgebg {
        height: 157vh;
    }
    

    
}

/* large desktop */
@media (min-width: 992px) {

}

/* extra large desktop */
@media (min-width: 1200px) {

}