

.acess{
    position: absolute;
    width: 100%;
    bottom: 30px;
}

.fontt {
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    color: #232323;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
}

.targs a {
    text-decoration: none;
    color: #767676;
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

.onee {
    height: 750px;
}
.contacts {
    height: 100vh;
}

#imgh {
    background: white;
    border: none;
    width: 63vw;
}

#fonttex{
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    color: #343434;
    font-weight: 600;
}


@media (max-width: 661px){
    #imgsect {
        background: #152a47;
        height: 70vh;
    }
}
@media (min-width: 662px) {

    #imgsect {
        background-image: url(/img/HOME02.png); 
        background-size: 100% 100%;
    }
    #imgh {
        background: white;
        border: none;
        width: 35vw;
    }
    
    #fonttex{
        font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
        color: #343434;
        font-weight: 600;
    }
}

/* 


@media (min-width: 701px) {
    .onee {
        height: 57vh;
    }
}

@media (min-width: 1024px) {
    .onee {
        height: 80vh;
    }
}*/



@media (min-width: 1200px) {
   
    .contacts {
        height: 50vh;
    }
}

@media (min-width: 1900px) {
   
    .onee {
        height: 820px;
    }

}
